<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Cocktails</title>
</head>
<body>
    <header>
        <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/cocktails">Home</a>
                  <% if(!user){   %> 
                  <a class="nav-link active" href="/auth/google">Sign In</a>
                  <a class="nav-link" href="/auth/google">Sign up</a>
                  <% }else{ %>
                  <a class="nav-link active" href="/cocktails/new">New cocktail</a>
                  <a class="nav-link active" href="/users/<%= user?._id %>"><%= user?.name %></a>
                  <a class="nav-link active" href="/logout">Logout</a>
                </div>
              </div>
            </div>
          </nav>
        </div>
          <% } %> 
    </header>

        <%- body %> 
    
    <footer>


    </footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>


<!-- <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <div class="row align-items-start">
          <div class="col-4">
            <a class="nav-link active" aria-current="page" href="/cocktails"><button class="btn btn-dark btn-lg">Home</button></a>
          </div>
          <div class="col-4">
                <a class="nav-link active" href="/auth/google"><button class="btn btn-dark btn-lg">Sign In</button></a>
          </div>
          <div class="col-4">
            <a class="nav-link active" href="/auth/google"><button class="btn btn-dark btn-lg">Sign Up</button></a>
          </div>
          <div class="col-12">
            <a class="nav-link active" href="/cocktails/new"><button class="btn btn-dark btn-lg">New cocktail</button></a>
          </div>
          <div class="col-12">
            <a class="nav-link active" href="/users/<%= user?._id %>"><button class="btn btn-dark btn-lg"><%= user?.name %></button></a>
          </div>
          <div class="col-12">
            <a class="nav-link active" href="/logout"><button class="btn btn-dark btn-lg">Logout</button></a>
          </div>
        </nav> -->