<img src="<%=cocktail.image %>" alt="cocktail picture">

<div class="container">
    <div class="row row-cols-2">
      <div class="col">
          <h4>Name:</h4> <p><%= cocktail.title %></p>
      </div>
      <div class="col">
          <h4>Ingredients:</h4><p><%= cocktail.ingredients %></p>
      </div>
      <div class="col">
          <h4>Crafting:</h4> <p><%= cocktail.crafting %></p> 
      </div>
      <div class="col">
        <h4>Created by:</h4><p><%= cocktail.owner.name %></p>
        </div>
      <div class="col">
        <% if(cocktail.owner.name === user.name){ %>     
          <h4>
            <a href="/cocktails/<%= cocktail._id %>/update"><button class="btn btn-primary">Update</button></a>
        </h4>
        <% } %> 
        </div>
      <div class="col">
        <% if(cocktail.owner.name === user.name){ %>     
          <h4>  
            <form action="/cocktails/<%=id%>?_method=DELETE" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete Cocktail">
            </form>
            </h4>
        <% } %> 

        </div>

    </div>
  </div>
<div class="container">
<h4>Comments</h4>
<form method="POST" action="/cocktails/<%= id %>/comments">
    <label>Comment</label>
    <textarea name="content"></textarea>
    <label>Rating</label>
    <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="submit" value="Add Comments">
</form>
<% if(cocktail.comments.length) { %>
    <table>
        <thead>
            <tr>
                <th>Rating</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            <% cocktail.comments.forEach((c) => { %> 
                <tr>
                    <td>
                        <%= c.content %> 

                    </td>
                    <td>
                        <%= c.rating %> 

                    </td>
                    <td>
                        <form action="/cocktails/<%= cocktail._id %>/comments/<%= c._id %>?_method=DELETE" method="POST" >
                            <button class="btn btn-danger" type="submit">Delete Comment</button>
                        </form>
                    </td>
                </tr>
                <% }) %> 
        </tbody>
    </table>
    <% } else { %>
        <h5>No comments yet</h5>
        <% } %>
    </div>
